
.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}
.tree-node-content {
    margin: 10px;
    position: relative;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search_l{
    position: absolute;
    background-image: url("../icons/Search.svg");
    width: 18px;
    height: 18px;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

.search_p{
    position: relative;
    display: block;
}

#search_text{
    padding-left: 28px;
    box-sizing: border-box;
}

.hover_line{
    background: url("../icons/Drag-affordance.svg") no-repeat;
    width: 8px;
    height: 30px;
    position: absolute;
    right: 7px;
    top: 14px;
    display: none;

}

.hover_settings{
    background: url("../icons/Settings.svg") no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 7px;
    top: 14px;
    display: none;

}

.tree-node-content:hover .hover_line{
    display: block;
}
.tree-node-content{
    cursor: pointer!important;
}
.tree-node-content:hover .hover_settings{
    display: block;
}

#add_element{
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.tree-node.active{
    border: 1px solid #666666;
}
.link_mode{
    cursor: pointer;
}
.link_mode.active{
    text-decoration: underline;
}

.tree-node{
    border: 1px solid #ffffff;
}

.tree-node:hover{
    border: 1px solid #dae2ea;
}