<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content" ng-click="set_selected_scope(this)">

    {{node.title}}
    <div ng-show="admin_mode" class="hover_line"></div>
    <div ng-show="admin_mode" class="hover_settings"></div>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li  id="li_{{node.id}}" showitem ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)">
    </li>
  </ol>
</script>
<style>

</style>
<div class="row">
    <h3>ЦРТ тестовое задание Синькова Д.С.</h3>
  <p>
    <a class="link_mode" ng-class="admin_mode ? '' : 'active'" ng-click="setAdminMode(false)">User mode</a>
    <a class="link_mode" ng-class="admin_mode ? 'active' : ''" ng-click="setAdminMode(true)">Admin mode</a>
  </p>
</div>

<div class="row">
  <div class="search_p"><input id="search_text" ng-model="query" ng-change="findNodes()"><div ng-click="set_focus()" class="search_l"></div></div>
</div>
<div class="row" ng-show="admin_mode">
  <p><a ng-click="add_item()" id="add_element">+ Create new element</a></p>
</div>
<div class="row">
  <div class="col-sm-6">
    <div ui-tree="treeRoot" data-drag-enabled = "admin_mode" data-drag-delay="200" id="treeRoot">
      <ol ui-tree-nodes="" ng-model="data">
        <li id="li_{{node.id}}" ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"  ng-animate=" 'animate' " ng-hide="!visible(node)"></li>
      </ol>
    </div>
  </div>
</div>